helloworld/src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4e41954b-871e-4f7e-8272-5eca44c34121" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="e3eafbb2-eb6b-41ce-a40a-ce0fe8e5f407" >
		<http:listener doc:name="Listener" doc:id="ffdf6ad7-011e-4ebf-a2a6-4722f2fa98e8" config-ref="HTTP_Listener_config" path="/Hello"/>
		<set-payload value="#['Hello User Welcome to Cloudhub']" doc:name="Set Payload" doc:id="5f0bd595-0849-42fa-ad20-779292ba1dc9" />
	</flow>
</mule>
